[data-dropdown] {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  background: #e54;
  border: 2px solid #333;
  z-index: 200;
  top: 38px;
}

.dropdown-menu::before {
  content: "";
  position: absolute;
  display: block;
  top: -10px;
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #e54; 
}

.dropdown-menu li a:hover {
  color: white;
}
